{
  "presets": [
    "backpack-core/babel",
    ["env", {
      "targets": {
        "node": "current"
      },
      "debug": true,
    }],
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathPrefix": "@",
      "rootPathSuffix": "server",
    }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"],
    }
  }
}
