---
version: '3'
services:
  redis:
    image: redis:latest
    deploy:
      replicas: 1
    ports:
      - "6379:6379"
  ncodr:
    image: aztechian/ncodr:0.9.3
    depends_on:
      - redis
    restart: "on-failure:3"
    user: root
    security_opt:
      - "label=disable"
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/sr0:/dev/sr0:r
      - /dev/sg0:/dev/sg0:r
    volumes:
      - ./media:/media
    environment:
      REDIS_HOST: redis
      LOG_LEVEL: debug
    ports:
      - "2000:2000"
